.fmp-search {
    border-bottom: solid 1px #16AF78;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    
   
}

.search-box {
    margin-left: auto;
    margin-right: auto;

}

.fmp-search-input-input {
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.button-search {
    background-color: #16AF78;
    color: white;
    border-radius: 5px;
	border: solid  #16AF78 1px;
    margin: 10px;
    padding: 5px;
}